{
  "parser": "babel-eslint",
  "plugins": ["prettier", "react", "react-hooks"],
  "env": {
    "browser": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "indent": [
      "error",
      "tab",
      {
        "SwitchCase": 1,
        "flatTernaryExpressions": false,
        "ignoredNodes": ["ConditionalExpression"]
      }
    ],
    "no-param-reassign": [2, { "props": false }],
    "no-tabs": ["off", { "allowIndentationTabs": true }],
    "no-use-before-define": "off",
    "no-unused-vars": "warn",
    "quotes": [2, "double"],
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {
    "fetch": false
  }
}
